[Desktop Entry]
Type=Application
Name=Open Browser
Exec=open-browser.sh %u
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=false
