[Desktop Entry]
Type=Application
Name=Open Browser
Exec=OPEN_BROWSER_BIN_PATH %u
NoDisplay=true
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=false
