[Desktop Entry]
Type=Application
Name=Godot Engine
GenericName=Open-source game engine
Comment=Multi-platform 2D and 3D game engine
Exec=GODOT_INSTALL_DIR/godot %f
Icon=GODOT_INSTALL_DIR/icon.svg
Terminal=false
Categories=Development;IDE;
MimeType=application/x-godot-project;
StartupWMClass=Godot
Keywords=game;engine;development;IDE;
