[user]
	name = Kai Nakamura
	email = kaihnakamura@gmail.com
[core]
	excludesFile = ~/.gitignore_global
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[pager]
	branch = false
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
